# local app configurations
*.json
/Taxes/
/tmp/**
/.idea/inspectionProfiles/Project_Default.xml
/.idea/copilot.data.migration.agent.xml
/.idea/copilot.data.migration.ask.xml
/.idea/copilot.data.migration.ask2agent.xml
/.idea/copilot.data.migration.edit.xml
